In [1]:
import pandas as pd

In [2]:
tables=pd.read_html('examples/fdic_failed_bank_list.html')

In [6]:
len(tables)

1

In [10]:
failures=tables[0]

In [11]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [15]:
close_timestamps=pd.to_datetime(failures['Closing Date'])

In [16]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [17]:
import requests

In [18]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [19]:
resp = requests.get(url)

In [20]:
resp

In [21]:
data = resp.json()

In [22]:
data[0]['title']

'Make DataFrame.to_string output full content by default'

In [23]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])

In [24]:
issues

,number,title,labels,state
0,28052,Make DataFrame.to_string output full content b...,[],open
1,28051,TST: fix compression tests when run without vi...,[],open
2,28050,NUM: inequality with complex dtypes,"[{'id': 172091424, 'node_id': 'MDU6TGFiZWwxNzI...",open
3,28049,BUG: timedelta64(NaT) incorrectly treated as d...,[],open
4,28048,BUG: retain extension dtypes in transpose,[],open
5,28047,Issue 20927 fix resolves read_sas error for da...,[],open
6,28046,DOC: DataFrame.plot is missing most of the doc...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
7,28045,Integer overflow in Series.astype('datetime64[...,[],open
8,28044,Backport PR #27991 on branch 0.25.x (DataFrame...,[],open
9,28043,DOC:Add punctuation to IntervalArray docstrings,[],open
10,28039,Bug: Resample removes timezone localization fr...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
11,28038,DOC: Remove docs code header and use explicit ...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
12,28037,REF: boilerplate for ops internal consistency,[],open
13,28036,CLN: small ops optimizations,[],open
14,28034,REGR: Index.union should pick correct dtype fo...,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
15,28032,Add support to names keyword in Index,[],open
16,28031,DOC: Fix docstrings lack of punctuation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
17,28029,DOC: Change document code prun in a row,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
18,28027,REF: standardize usage in DataFrame vs SparseD...,[],open
19,28026,DOC: Fix python code error in enhancingperf,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
20,28025,DES: Q about SparseDataFrame._combine_match_co...,"[{'id': 49182326, 'node_id': 'MDU6TGFiZWw0OTE4...",open
21,28023,BUG: Series.loc[list] with uint64 keys raises ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
22,28022,[Feature Request] pd.DataFrame.schema iterable,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
23,28021,Update the finder tests in datetimelike file,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
24,28020,CLN: timeseries in plotting clean up,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
25,28018,DOC/TST: Update the parquet (pyarrow >= 0.15) ...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
26,28015,RLS: 0.25.1,"[{'id': 131473665, 'node_id': 'MDU6TGFiZWwxMzE...",open
27,28014,Adding new pandas website,"[{'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNT...",open
28,28013,Add Styler.applyformat to set values instead o...,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
29,28010,Avoid duplicating entire exploded column when ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open

In [25]:
import pymysql

In [26]:
query = """
        CREATE TABLE test
        (a VARCHAR(20), b VARCHAR(20),
        c REAL,        d INTEGER
        );"""